.upper {
  background-color: #4896e5;
  height: 260px;
}
.title {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 30px;
}
.subTitle {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.inputField {
  width: 50%;
  height: 30px;
  border-radius: 7px;
}
.addButton {
  margin-top: 10px;
  margin-right: -640px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid;
  padding: 12px 24px;
}
.deletBtn {
  padding: 10px 25px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(49, 35, 248);
  border-color: rgb(85, 153, 255);
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.deletBtn:hover {
  color: black;
  background-color: rgb(255, 0, 0);
}
.undoBtn {
  padding: 10px 25px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(49, 35, 248);
  border-color: rgb(85, 153, 255);
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.undoBtn:hover {
  color: black;
  background-color: rgb(4, 255, 58);
}
.complete {
  text-decoration: line-through;
}
li {
  list-style: none;
}
.inputText {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -3%;
  margin-right: 32%;
  display: flex;
  justify-content: flex-end;
}
